<!DOCTYPE html>
<html>
  <head>
    <title>Your Profile | FroyoFeedback</title>
    <% include ../partials/head %>
  </head>
  <body id="profile">

    <h1>Favorite Flavors</h1>

    <h3>Top 6 Favorite Flavors</h3>
    <form method="post" action="/profile">

    </form>



    <% include ../partials/footer %>
    <% include ../partials/alerts %>
  </body>
</html>
