<img src="/img/whitecaplogo_white.png">

<ul class="nav-links">
  <li class="dashboardLink">
    <a href="/dashboard">Dashboard</a>
  </li>
  <li class="flavorsLink">
    <a href="/dashboard/flavors">Flavors</a>
  </li>

</ul>

<a class="whitecap-blue btn" href="/logout">Logout</a>
