<img src="/img/whitecaplogo_white.png">

<ul class="nav-links">

  <a href="/profile">
    <li class="profileLink">
      Profile
    </li>
  </a>
  <a href="/profile/options">
    <li class="optionsLink">
      Options
    </li>
  </a>

</ul>

<a class="whitecap-blue btn" href="/logout">Logout</a>
