<img src="/img/WhiteCapLogocolor.png">

<ul class="nav-links">
  <li>
    <a href="/profile">Profile</a>
  </li>
  <li>
    <a href="#">Options</a>
  </li>
  <li>
    <a href="/logout">Logout</a>
  </li>
</ul>
