<img src="/img/whitecaplogo_white.png">

<ul class="nav-links">
  <div class="avatar">
    <img src="http://api.adorable.io/avatar/<%= user.email %>" >
    <h4><%= user.email %>" ></h4>
  </div>

  <a href="/profile">
    <li class="profileLink">
      Profile
    </li>
  </a>
  <a href="/profile/options">
    <li class="optionsLink">
      Options
    </li>
  </a>

</ul>

<a class="whitecap-blue btn" href="/logout">Logout</a>
