<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | FroyoFeedback</title>
    <% include ./partials/head %>
  </head>
  <body id="dashbaord">

    <h1>Dashboard</h1>

    <h3>Favorite Flavors</h3>



    <% include ./partials/footer %>
    <% include ./partials/alerts %>
  </body>
</html>
