<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | FroyoFeedback</title>
    <% include ./partials/head %>
  </head>
  <body id="dashboard">
    <div class="row">
      <div class="col s3 sidebar-nav">
        <!-- Grey navigation panel -->
        <% include ./partials/admin_nav %>
      </div>
      <div class="col s9 main-content">
        <h1>Dashboard</h1>
        <h3>Favorite Flavors</h3>

      </div>
    </div>






    <% include ./partials/footer %>
    <% include ./partials/alerts %>
  </body>
</html>
