$darkBlue: #14173e;
$lightBlue: #2a4d7e;
$green: #4fb14b;
$gray: #f1f1f1;
$radius: 5px;

html, body {
  height: 100%;
}

body .whitecap-green.btn, body .whitecap-green-bg {
  background: $green !important;
}
body .whitecap-blue.btn, body .whitecap-blue-bg {
  background: $lightBlue !important;
}

body .whitecap-green-text {
  color: $green;
}
body .whitecap-blue-text {
  color: $lightBlue;
}

#home {
  background: $darkBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  img {
    max-width: 100%;
    width: 275px;
    margin-bottom: 15px;
  }
}

.login-container {
  background: #fff;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 5vw;
}

.login-forms {
  width: 300px;
  max-width: 100%;
  text-align: center;
  i {
    color: $lightBlue;
    margin-right: 5px;
  }
  div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    input {
      margin-bottom: 0px !important;
    }
  }
  .password-view-toggle {
    font-size: 1rem;
    color: #ddd;
    cursor: pointer;
    &.color-blue{
      color: $lightBlue;
    }
  }
}

.nav-links {
  margin: 0 auto;
}


#dashboard, #flavors, #profile {
  & > .row {
    height: 100%;
  }
  .sidebar-nav {
    background: $darkBlue;
    height: 100%;
    position: fixed;
    img {
      max-width: 100%;
    }
  }
}

#flavor-form {
  background: $gray;
}
