$darkBlue: #14173e;
$lightBlue: #2a4d7e;
$green: #4fb14b;
$gray: #f1f1f1;
$radius: 5px;


/* =========== GENERAL ===========*/
html, body {
  height: 100%;
}

body .whitecap-green.btn, body .whitecap-green-bg {
  background: $green !important;
}
body .whitecap-blue.btn, body .whitecap-blue-bg {
  background: $lightBlue !important;
}
body .whitecap-green-text {
  color: $green;
}
body .whitecap-blue-text {
  color: $lightBlue;
}
.border-radius {
  border-radius: $radius;
}

.nav-links {
  margin: 0 auto;
  width: 80%;
  li {
    text-align: center;
    padding: 5px 20px;
    background: rgba(255,255,255,.1);
    margin: 5px 0px;
    border-radius: $radius;
  }
  a {
    background: none;
    font-size: 1.5rem;
    color: $gray;
  }
}

.gray-card {
    /* z-depth-2 */
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    background-color: $gray;
    border-radius: $radius;
    canvas {
      padding: 5%;
    }

}



/* =========== PAGES ===========*/

/* === HOME === */
#home {
  background: $darkBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  img {
    max-width: 100%;
    width: 275px;
    margin-bottom: 15px;
  }
}

.login-container {
  background: #fff;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 5vw;
}

.login-forms {
  width: 300px;
  max-width: 100%;
  text-align: center;
  i {
    color: $lightBlue;
    margin-right: 5px;
  }
  div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    input {
      margin-bottom: 0px !important;
    }
  }
  .password-view-toggle {
    font-size: 1rem;
    color: #ddd;
    cursor: pointer;
    &.color-blue{
      color: $lightBlue;
    }
  }
}



#dashboard, #flavors, #profile {
  & > .row {
    height: 100%;
  }
  .sidebar-nav {
    background: $darkBlue;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    img {
      max-width: 100%;
    }
  }
}

#flavor-form {
  background: $gray;
}

#dashboard {
  .graphTitle {
    text-align: center;
    padding-top: 10px;
  }
  .dashboardLink {
    background: $green;
    color: #fff;
  }
}

#flavors {
  .flavorsLink {
    background: $green;
    color: #fff;
  }
  input[type="text"] {
    margin-bottom: 0px;
  }
  .input-field {
    margin-top: 0px;
  }
  form {
    .gray-card {
      padding: 24px 5px;
    }
    .col {
      text-align: center;
    }
    .row {
      margin-bottom: 0px;
    }
  }
}
