<!DOCTYPE html>
<html>
  <head>
    <title>Flavors | FroyoFeedback</title>
    <% include ../partials/head %>
  </head>
  <body id="flavors">
    <div class="row mobile-only">
      <div class="col s12 mobile-nav z-depth-3 valign-wrapper">
        <div class="col s5">
          <img src="/img/whitecaplogo_white.png" class="logo">
        </div>
        <div class="col s7 right-nav">
          <a href="/dashboard" class="mobile-nav-link dashboard">Dashboard</a>
          <a href="/dashboard/flavors" class="mobile-nav-link flavors">Flavors</a>

          <a class="whitecap-blue btn logout" href="/logout">Logout</a>
        </div>
      </div>
    </div>

    <div class="row no-mobile">
      <div class="col s12 m3 sidebar-nav z-depth-3 hide-on-small-only">
        <!-- Grey navigation panel -->
        <% include ../partials/admin_nav %>
      </div>
      <div class="col s12 m9 push-m3 main-content">

          <form method="put" action="/dashboard/flavors/<%= flavor.id %>" id="edit-flavor-form">
            <div class="gray-card">
              <h4>Add A Flavor</h4>
              <div class="row valign-wrapper">
                <div class="col s12 m6 l4">
                  <input type="text" name="name" value="<%= flavor.name %>" />
                </div>


                <div class="col s12 m6 l3">
                  <div class="input-field">
                    <select name="flavorType" form="flavor-form">
                      <option value="" disabled selected>Choose your option</option>
                      <option value="NonFat" <% if ( flavor.flavorType === 'NonFat') { %> selected <% } %> >NonFat</option>
                      <option value="LowFat" <% if ( flavor.flavorType === 'LowFat') { %> selected <% } %> >LowFat</option>
                      <option value="No Sugar Added" <% if ( flavor.flavorType === 'No Sugar Added') { %> selected <% } %> >No Sugar Added / NonFat</option>
                      <option value="Non-Dairy Sorbet" <% if ( flavor.flavorType === 'Non-Dairy Sorbet') { %> selected <% } %> >Non-Dairy Sorbet</option>
                      <option value="Almond Milk"  <% if ( flavor.flavorType === 'Almond Milk') { %> selected <% } %> >Almond Milk</option>
                    </select>
                  </div>
                </div>

                <div class="col s12 m12 l2">
                  <div class="switch">
                    <label>
                      <input type="checkbox" name="status" <% if (flavor.status === 'in-rotation') { %> checked <% } %> >
                      <span class="lever"></span>
                      In-Rotation
                    </label>
                  </div>
                </div>

                <div class="col s12 m12 l3">
                  <input type="submit" value="Apply Edit" class="whitecap-green btn">
                </div>
              </div> <!-- END ROW valign-wrapper -->

            </div>
          </form>

      </div> <!-- END CONTENT AREA -->
    </div> <!-- END ROW -->



    <% include ../partials/footer %>
    <% include ../partials/alerts %>
  </body>
</html>
